body{
    width: 1600px;
    height: 7335px;
    background: #FFF;
}
.heading-section{
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    background-repeat: no-repeat;
}
.heading-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 140px;
}
.heading-bold{
    width: 632px;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 16px 344px 177px 344px;
}
/* main parts style */
.head1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
}
.head6{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
}
.head3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
}
.new-year{
    width: 802.9px;
    margin: auto;
}
/* work for 2nd image */
.mid-party{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    display: flex;
    /* margin-top: 70px;
    margin-left: 150px; */
    margin: auto;
}
.welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    padding-top: 100px;
    padding-left: 110px;
    width: 630px;
}
.welcome-describe{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    width: 680px;
    padding-top: 5px;
    padding-left: 110px;
}
.btn{
    color: #FFF;
    /* text-align: left; */
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 160px;
}
.year{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
/* .join-now-section{
    width: 1320px;
    height: 482px;
    background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
} */
div.join-now-section{
    width: 1210px;
    height: 200px;
    margin: auto;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    text-align: center;
    padding: 40px 60px;
}
.e{
    color: #F00;
}
.f{
    color: #F00;
}
.g{
    color: #F00;
}
.join{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}
.color-join{
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
/* making 3rd style */
.container{
    width: 1210px;
    height: 200px;
    display: flex;
    margin: auto;
}
.heading-container{
    margin-right: 120px;
}
.heading-container>.title{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    font-weight: 200;
}
.bold{
    color: #070211;
    text-align: left;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.blog{
    width: 300px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 200;
    line-height: 20px; 
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 10px solid #F00;
    margin-right: 110px;
    margin-top: 30px;
}
.pic{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    padding: 25px;
}
.year-name{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.description{
    width: 180px;
    height: 80px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 11px;
    font-weight: 200;
    line-height: 13px;
}
.happy-img{
    width: 50px;
    height: 50px;
}
/* style 4th div */
.div-section{
    width: 1210px;
    height: 900px;
    margin: auto;
}
.heading-p{
    color: #070211;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    margin-top: 60px;
    /* margin-bottom: 0; */
    text-align: center;
}
.holidays{
    color: #F00;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
}
.heading-part{
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.describe-heading{
    width: 1100px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 50px;
}
.women{
    position: relative;
    width: 800px;
    height: 1860px;
}
.image{
    position: absolute;
    border-radius: 16px 16px 0px 0px;
    left: 891px;
}
.for-rectangle{
    position: absolute;
    bottom: 1199px;
    left: 0;
}
.discount{
    position: absolute;
    left: 750px;
    bottom: 1450px;
}
.surprise-box{
    position: absolute;
}
.holid{
    width: 1210px;
    height: 60px;
    margin: auto;
}
.heading-pt{
    color: #F00;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
}
.heading-parts{
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 15px;
}
.describe-headings{
    width: 700px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 50px;
}
.two-div{
    width: 1210px;
    height: 200px;
    margin: auto;
    padding: 150px;
}
.image-work{
    width: 1100px;
    height: 400px;
    margin-top: 130px;
    display: flex;
}
.image-work2{
    width: 1100px;
    height: 400px;
    margin-top: 40px;
    display: flex;
}
.one{
    width: 1100px;
    height: 400px;
    margin-right: 30px;
}