body{
    width: 1600px;
    height: 7335px;
    background: #FFF;
}
.heading-section{
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    background-repeat: no-repeat;
}
.heading-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    /* padding: 177px 530px 383px 530px; */
    padding-top: 140px;
}
.heading-bold{
    width: 632px;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 16px 344px 177px 344px;
}