body{
    width: 1600px;
    height: 7335px;
    background: #FFF;
}
.heading-section{
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    background-repeat: no-repeat;
}
.heading-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 140px;
}
.heading-bold{
    width: 632px;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 16px 344px 177px 344px;
}
/* main parts style */
.head1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
}
.head6{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
}
.head3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
}
.new-year{
    width: 802.9px;
    margin: auto;
}